<table
  class="table table-sm table-bordered table-hover"
  *ngIf="field.fieldGroup && field.fieldGroup.length > 0"
>
  <thead>
    <tr>
      <th *ngFor="let column of getColumns()">{{ column }}</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let fieldG of field.fieldGroup; let i = index">
      <td *ngFor="let field of fieldG.fieldGroup">
        <!-- <pre>{{ field | json }}</pre> -->
        <formly-field class="col" [field]="field"></formly-field>
      </td>
      <td>
        <button class="btn btn-danger" type="button" (click)="remove(i)">
          [x]
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td [colSpan]="getColumns().length + 1">
        <button class="btn btn-primary" type="button" (click)="add()">
          <!-- {{ props.addText }} -->Add
        </button>
      </td>
    </tr>
  </tfoot>
</table>
