#top-nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s ease-in;
  box-shadow: 1px 0px 7px rgb(0 0 0 / 5%);
  z-index: 1001;

  .navbar {
    justify-content: initial;
    padding: 0 15px;

    #navbar-brand {
      #logo-text {
        font-size: 0.865rem;
        color: #000;
      }
    }

    ul {
      display: flex;
      margin: 0;
      padding-left: 0.625rem;

      li {
        list-style: none;
      }
    }
  }
}
