html,
body,
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  // font-size: .525rem;
}

.wrapper {
  background: none repeat scroll 0 0 #e6e9ee;
}

a {
  text-decoration: none;
}

#middle-wrapper {
  position: absolute;
  display: flex;
  align-items: stretch;
  width: 100%;
  height: calc(100vh - #{$header-height});
  top: 0;
  left: 0;
  margin-top: $header-height;

  #main-wrapper {
    flex: 1 1 auto;
    overflow-y: auto;

    .breadcrumbs {
      background: none repeat scroll 0 0 #fafafa;
      margin-top: 1px;
      width: 100%;

      ul {
        list-style: outside none none;
        padding-left: 25px;
        margin: 0;
        width: 100%;

        li {
          display: inline-block;
          color: #777;
          line-height: 15px;
          margin-right: 10px;
          padding: 6px 0;

          a {
            display: inline-block;
            color: #777777;
            font-family: Roboto;
            font-size: 12px;
            letter-spacing: 0.3px;
            padding-right: 15px;
          }
        }
      }
    }

    .main-content {
      padding: 15px;
    }
  }
}
