<div class="form-group row mb-2">
  <label [attr.for]="id" class="col-sm-3 col-form-label" *ngIf="props.label">
    {{ props.label }}
    <ng-container *ngIf="props.required && props['hideRequiredMarker'] !== true"
      >*</ng-container
    >
  </label>
  <div class="col-sm-9">
    <ng-template #fieldComponent></ng-template>
  </div>

  <div *ngIf="showError" class="offset-3 col-sm-9 invalid-feedback d-block">
    <formly-validation-message [field]="field"></formly-validation-message>
  </div>
</div>
