<div class="breadcrumbs">
  <ul>
    <li>
      <a href="#/category" title=""><i class="fa fa-home"></i></a>/
    </li>
    <li><a title="">Category</a></li>
  </ul>
</div>

<div class="main-content">
  <div class="content-header">
    <div class="row">
      <div class="col-12">
        <h1>Category</h1>
      </div>
    </div>
  </div>

  <form
    name="categoryForm"
    role="form"
    [formGroup]="categoryForm"
    (ngSubmit)="submit()"
  >
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Create Category</h3>
      </div>
      <div class="card-body">
        <div class="mb-3 row">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
            />
          </div>
        </div>
        <!-- end of row -->

        <div class="mb-3 row">
          <label for="slug" class="col-sm-2 col-form-label">Slug</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="slug"
              formControlName="slug"
            />
          </div>
        </div>
        <!-- end of row -->

        <div class="mb-3 row">
          <label for="description" class="col-sm-2 col-form-label"
            >Description</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="description"
              formControlName="description"
            />
          </div>
        </div>
        <!-- end of row -->

        <div class="mb-3 row">
          <label for="meta_title" class="col-sm-2 col-form-label"
            >Meta Title</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="meta_title"
              formControlName="meta_title"
            />
          </div>
        </div>
        <!-- end of row -->

        <div class="mb-3 row">
          <label for="meta_keywords" class="col-sm-2 col-form-label"
            >Meta Keywords</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="meta_keywords"
              formControlName="meta_keywords"
            />
          </div>
        </div>
        <!-- end of row -->

        <div class="mb-3 row">
          <label for="meta_description" class="col-sm-2 col-form-label"
            >Meta Description</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="meta_description"
              formControlName="meta_description"
            />
          </div>
        </div>
        <!-- end of row -->

        <div class="mb-3 row">
          <label for="show_in_menu" class="col-sm-2 col-form-label"
            >Show In Menu</label
          >
          <div class="col-sm-10">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="show_in_menu"
                formControlName="show_in_menu"
              />
            </div>
          </div>
        </div>
        <!-- end of row -->

        <div class="mb-3 row">
          <label for="display_mode" class="col-sm-2 col-form-label"
            >Display mode</label
          >
          <div class="col-sm-10">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="display_mode"
                formControlName="display_mode"
              />
            </div>
          </div>
        </div>
        <!-- end of row -->

        <div class="mb-3 row">
          <label for="status" class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-10">
            <select
              id="status"
              class="form-select"
              aria-label="Default select example"
              formControlName="status"
            >
              <option>Select Status</option>
              <option value="0">InActive</option>
              <option value="1">Active</option>
            </select>
          </div>
        </div>
        <!-- end of row -->
        <pre>{{ categoryForm.invalid | json }}</pre>
      </div>
      <div class="card-footer">
        <button
          class="btn btn-primary float-end"
          type="submit"
          [disabled]="categoryForm.invalid || isSaving"
        >
          Submit
        </button>
        <button
          class="btn btn-secondary float-end me-2"
          type="button"
          (click)="goBack()"
        >
          Back
        </button>
      </div>
      <!-- card footer-->
    </div>
  </form>
</div>
