<div class="breadcrumbs">
  <ul>
    <li>
      <a href="#page/dashboard" title=""><i class="fa fa-home"></i></a>/
    </li>
    <li><a title="">Dashboard</a></li>
  </ul>
</div>

<div class="main-content">
  <div class="content-header">
    <div class="row">
      <div class="col-12">
        <h1>Dashboard</h1>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Projects</h3>

      <div class="card-tools">
        <button
          type="button"
          class="btn btn-tool"
          data-card-widget="collapse"
          data-toggle="tooltip"
          title="Collapse"
        >
          <i class="fas fa-minus"></i>
        </button>
        <button
          type="button"
          class="btn btn-tool"
          data-card-widget="remove"
          data-toggle="tooltip"
          title="Remove"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="card-body">
        <formly-form
          [model]="model"
          [fields]="fields"
          [form]="form"
        ></formly-form>

        <pre> {{ form.value | json }}</pre>
      </div>

      <!--  end of card body -->
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      <!-- card footer-->
    </form>
  </div>
</div>
