<div class="breadcrumbs">
  <ul>
    <li>
      <a href="entity/sales" title=""><i class="fa fa-home"></i></a>/
    </li>
    <li><a title="">Sales</a></li>
  </ul>
</div>

<div class="main-content">
  <div class="content-header">
    <div class="row">
      <div class="col-12">
        <h1>Sales</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-12 mb-2">
          <div class="card">
            <!-- end of card header -->
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fa-solid fa-barcode"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter item name or scan barcode"
                      aria-label="Username"
                      aria-describedby="basic-addon1"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- end of card boday -->
          </div>
          <!-- end of card -->
        </div>
        <!-- end of col -->
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Projects</h3>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                  data-toggle="tooltip"
                  title="Collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                  data-toggle="tooltip"
                  title="Remove"
                >
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- end of card header -->
            <div class="card-body">
              <table class="table">
                <thead>
                  <th>#</th>
                </thead>
              </table>
            </div>
            <!-- end of card boday -->
          </div>
          <!-- end of card -->
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of col -->

    <div class="col-3 mb-2">
      <div class="card">
        <!-- end of card header -->
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa-solid fa-barcode"></i>
                </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- end of card boday -->
      </div>
      <!-- end of card -->
    </div>
    <!-- end of col -->
  </div>
  <!-- end of row -->
</div>
